* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #074686;
  background: #e4f2ff;
  font: 500 100%/1 "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-height: 100vh;
  max-width: 2200px;
  position: relative;
  gap: 50px;
  overflow: hidden;
}

@keyframes rotateAndTranslate {
  0% {
    transform: rotateZ(0deg) translateX(0px) scale(1);
  }

  100% {
    transform: rotateZ(360deg) translateX(50px) scale(1.1);
  }
}

.monet_01 {
  top: -20%;
  left: -25%;
  animation: fadeIn 3s ease-in-out,
    rotateAndTranslate 25s ease-in-out 4.25s infinite alternate;
  max-width: 100vh;
  position: absolute;
  z-index: -1;
  transform: scale(1);
}

.monet_02 {
  bottom: -40%;
  right: -25%;
  animation: fadeIn 3s ease-in-out,
    rotateAndTranslate 25s ease-in-out 4.25s infinite alternate;
  max-width: 1100px;
  position: absolute;
  z-index: -1;
  transform: scale(1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  padding: 5%;
}

.footer_profile_text {
  color: #074686;
}

.conteudo {
  display: none;
}
