* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #d4b8de;
  background: #1f1a20;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
  max-width: 2200px;
  position: relative;
  gap: 50px;
}

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    flex-direction: row;
    width: 70%;
    max-width: 1100px;
    margin: 5% auto;
    background-color: #5d3c73;
    border-radius: 50px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.925);
  }
}

.navbar_pixelbox_icon {
  height: 40px;
  width: 40px;
  background-image: url(../img/pixelboxicon.png);
  background-size: 100% 100%;
}

.navbar_menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar_menu_text {
  text-decoration: none;
  color: #d4b8de;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  padding: 1rem;
}

.navbar_menu_text::after {
  content: "";
  position: absolute;
  background-color: #cfb9de;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 0%;
  transition: 0.3s ease;
}

.navbar_menu_text:hover::after {
  width: 100%;
}

@keyframes monet_01 {
  0% {
    transform: rotateZ(0deg) translateX(0px) scale(1);
  }

  100% {
    transform: rotateZ(360deg) translateX(50px) scale(1.1);
  }
}

.monet_01 {
  max-width: 1100px;
  position: absolute;
  z-index: -1;
  top: -30%;
  left: -40%;
  transform: scale(1);
  animation: 25s ease-in-out 4.25s infinite alternate none running monet_01;
}

@keyframes monet_02 {
  0% {
    transform: rotateZ(0deg) translateX(0px) scale(1);
  }

  100% {
    transform: rotateZ(360deg) translateX(50px) scale(1.1);
  }
}

.monet_02 {
  max-width: 1100px;
  position: absolute;
  z-index: -1;
  bottom: -40%;
  right: -25%;
  transform: scale(1);
  animation: 25s ease-in-out 4.25s infinite alternate none running monet_02;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 1rem;
  padding: 5%;
}

.footer_profile_text {
  color: #d4b8de;
}