@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar_button {
    display: grid;
    z-index: 1;
    position: relative;
    flex-direction: column;
    padding: 30px;
    right: -30%;
    width: 85px;
    height: 85px;
    margin: 5% 5% 3%;
    background-color: #CFE5FD;
    border-radius: 25px;
    box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.925);
    justify-items: end;
    justify-content: center;
  }

  .navbar_button::after {
    content: "";
    width: 20px;
    height: 5px;
    background-color: #fff;
    transition: 0.4s;
  }

  .navbar_button::before {
    content: "";
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: 0.4s;
  }

  .navbar_button.active:before {
    transform: rotate(-45deg) translate(0px, 5px);
  }

  .navbar_button.active:after {
    width: 100%;
    transform: rotate(45deg) translate(0px, -5px);
  }

  .navbar_pixelbox_icon {
    display: none;
  }

  .navbar_menu {
    display: grid;
    gap: 50px;
    place-items: center;
    align-content: center;
    position: absolute;
    width: 100vh;
    height: 100vh;
    max-width: 1100px;
    background-color: #CFE5FD;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }

  .navbar_menu.active {
    transform: translateX(0);
  }

  .navbar_menu_text {
    font-size: 2rem;
  }

}

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    flex-direction: row;
    width: 70%;
    max-width: 1100px;
    margin: 5% auto;
    background-color: #aad3ff9a;
    border-radius: 50px;
    box-shadow: 3px 5px 10px -5px rgba(0, 0, 0, 0.925);

    
  }

  .navbar_menu {
    display: flex;
    align-items: flex-end;
    position: relative;
    gap: 50px;
  }

}

.navbar_pixelbox_icon {
  width: 50px;
  height: 50px;
  background-image: url(../img/pixelboxicon.svg);
  background-size: 100% 100%;
}


.navbar_menu_text {
  display: grid;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  color: #074686;
  padding: 5px;
}

.navbar_menu_text::after {
  content: "";
  position: absolute;
  background-color: #074686;
  height: 5%;
  width: 0%;
  transition: 0.3s;
  border-radius: 10px;
  opacity: 0;
}

.navbar_menu_text:hover::after {
  width: 100%;
  opacity: 1;
}

.page_indicator {
  content: "";
  position: absolute;
  background-color: #074686;
  border-radius: 10px;
  width: 55px;
  height: 5%;
  transition: 0.3s;
  }
