* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
}

.navbar_button {
  display: none;
}

.navbar_pixelbox_icon {
  width: 50px;
  height: 50px;
  background-image: url(../img/pixelboxicon.svg);
  background-size: 100% 100%;
}

.navbar_menu {
  display: flex;
  gap: 50px;
}

.navbar_menu_text {
  display: grid;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  color: #074686;
  padding: 5px;
}

.navbar_menu_text:hover {
  color: #53a9ff;
}

.navbar_menu_text.selected::after {
  content: "";
  position: absolute;
  background-color: #074686;
  height: 10%;
  width: 100%;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

@media screen and (min-width: 800px) {
  .navbar {
    padding: 1% 5%;
    width: 70%;
    max-width: 1100px;
    margin: 5% auto;
    background-color: #aad3ff9a;
    border-radius: 50px;
    box-shadow: 3px 5px 10px -5px rgba(0, 0, 0, 0.925);
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }

  .navbar_button {
    display: grid;
    z-index: 1;
    position: relative;
    flex-direction: column;
    padding: 30px;
    right: -30%;
    width: 85px;
    height: 85px;
    margin: 5% 5% 3%;
    background-color: #cfe5fd;
    border-radius: 25px;
    box-shadow: 3px 5px 10px -5px rgba(0, 0, 0, 0.925);
    justify-items: end;
    justify-content: center;
  }

  .navbar_button::after {
    content: "";
    width: 20px;
    height: 5px;
    background-color: #fff;
    transition: 0.4s;
  }

  .navbar_button::before {
    content: "";
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: 0.4s;
  }

  .navbar_button.active:before {
    transform: rotate(-45deg) translate(0px, 5px);
  }

  .navbar_button.active:after {
    width: 100%;
    transform: rotate(45deg) translate(0px, -5px);
  }

  .navbar_pixelbox_icon {
    display: none;
  }

  .navbar_menu {
    display: grid;
    place-items: center;
    align-content: center;
    position: absolute;
    width: 100vh;
    height: 100vh;
    max-width: 1100px;
    background-color: #cfe5fd;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }

  .navbar_menu.active {
    transform: translateX(0);
  }

  .navbar_menu_text {
    font-size: 2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section_animation {
  animation: fadeIn 2s ease-in-out;
}

.home_animation {
  animation: fadeIn 1s ease-in-out;
}
