@media screen and (max-width: 800px) {
  
  .monet_01 {
    top: -15%;
    left: -25%;
    animation: fadeIn 3s ease-in-out, rotateAndTranslate 25s ease-in-out 4.25s infinite alternate;
    max-width: 35vh;
    position: absolute;
    z-index: -1;
    transform: scale(1);
  }
  
  .monet_02 {
    bottom: -10%;
    left: -10%;
    animation: fadeIn 3s ease-in-out,
      rotateAndTranslate 25s ease-in-out 4.25s infinite alternate;
    max-width: 25vh;
    position: absolute;
    z-index: -1;
    transform: scale(1);
  }
  
  .monet_03 {
    top: 40%;
    right: -15%;
    animation: fadeIn 3s ease-in-out,
      rotateAndTranslate 25s ease-in-out 4.25s infinite alternate;
    max-width: 20vh;
    position: absolute;
    z-index: -1;
    transform: scale(1);
  }

  .section-01_container {
    margin-inline: 30px;
  }

  .sub_container {
    justify-content: right;
  }

  .section-01_title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .section-01_simple_text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .section-01_banner {
    display: none;
  }

  .footer {
    padding: 5% 5% 10%;
  }
}
