@media screen and (max-width: 800px) {
  .monet_01 {
    width: 100%;
  }

  .monet_02 {
    width: 100%;
    top: 70%;
    left: 50%;
  }

  .section-01_container {
    margin-inline: 30px;
  }

  .sub_container {
    justify-content: right;
  }

  .section-01_title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .section-01_simple_text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .section-01_banner {
    display: none;
  }

  .footer {
    padding: 5% 5% 10%;
  }
}
